/* Header */

.header {
  /* Fallback */
  background: #FB750A;

  margin: 0px;
  padding: 0px 0px 10px 0px;
  background: linear-gradient(#FF821B, #FA6904);
  color: white;
  display: block;
  width: auto;
}

.header h1 {
  padding: 0.8%;
  margin: 0px;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.3);
  /* 2 shadows, one for top and one for bottom */
  box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
}

.nav-bar {
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-list {
  padding: 0px;
  margin: 0px;
}

.section-list li {
  height: 100%;
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
}

.section-list li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-list li:active {
  transition: 0ms;
  background-color: white;
}

.nav-bar img {
  height: 2.6vw;
  padding: 0 0.9vw;
}

.nav-bar img:hover {

}

.section-list a {
  display: block;
  padding: 0.9vw;
  font-size: 0.9vw;
}

@media only screen and (max-width: 1200px) {
  .header {
    display: fixed;
  }

  .section-list a {
    padding: 1.4vw;
    font-size: 1.6vw;
  }

  .header h1 {
    padding: 1.2%;
  }

  .nav-bar img {
    height: 4vw;
    padding: 0 0.8vw;
  }
}

@media only screen and (max-width: 650px) {
  .section-list a {
    padding: 2.8vw;
    font-size: 3.2vw;
  }

  .header h1 {
    padding: 1.6%;
  }

  .nav-bar img {
    height: 8vw;
    padding: 0 0.7vw;
  }
}

.section-list a:hover {
  color: white;
  background: none;
}

/* Directory */

.directory {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px -5px black inset;
  display: none;
}

.directory-list {
  display: inline-block;
  list-style: none;
  margin: 1.5vw;
  padding: 0;
}

/* End of directory */

/* End of Header */

.page {
  padding: 1% 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content {
  padding: 0 2%;
  /* outline: 1px solid black; */
}

.main {
  flex: 4;
}

.right {
  border-left: 1px solid #AAA;
  flex: 1;
}

@media only screen and (max-width: 1200px) {
  .page {
    padding: 2%;
  }

  .content {
    padding: 0% 3%;
  }

  .main {
    flex: 3;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    flex: 1 100%;
  }

  .right {
    border: none;
    border-top: 1px solid black;
  }
}
