.header {
  /* Fallback */
  background: #FB750A;

  margin: 0px;
  padding: 5px;
  background: linear-gradient(#FF821B, #FA6904);
  color: white;
}

.header h1 {
  line-height: 10%;
}

.section-list {
  background-color: rgba(0, 0, 0, 0.4);
}

.section-list li {
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
}

.section-list li:hover {
  background-color: rgba(0, 0, 0, 0.45);
  animation: fade
}

.section-list a {
  display: inline;
  padding: 0px;
}

.section-list a:hover {
  all: inherit;
  padding: 0px;
  background: none;
}
