.page {
  padding: 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

main {
  flex: 3;
  box-sizing: border-box;
  max-width: 1050px;
  line-height: 1.7em;
  padding: 0 2vw 0 0.8vw;
}

main p:first-child {
  margin-top: 1em;
}

.right {
  border-left: 1px solid black;
  flex: 1;
  box-sizing: border-box;
  max-width: 350px;
  padding: 0 0.8vw 0 2vw;
}

.quick-links h3 {
  margin-bottom: 0.5vw;
}

.quick-links ul {
  padding-left: 2vw;
  margin: 0;
}

.quick-links a:hover {
  font-weight: bold;
}

.adsbygoogle {
  display: block;
}

.sidebar-ads {
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 1.5vw 0;
  text-transform: uppercase;
  text-align: center;
}

/* .sidebar-ads > * {
  border: 2px solid blue;
} */

/* Cookies Notification */
.cookies-notification {
  background-color: rgba(250, 105, 4, 0.9);
  color: white;
  display: flex;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

/* Progress bar until cookies are auto accepted */
.cookies-notification::before,
.cookies-notification::after {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  display: block;
  content: "";
  height: 0.4vw;
  width: 100%;
  left: 0;
  top: 0;
}

.cookies-notification::before {
  animation: cookies-acceptance-progress-bar 10s linear;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Progress bar animation */
@keyframes cookies-acceptance-progress-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.cookies-notification p {
  font-size: 1.3vw;
  padding: 1.6vw;
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

.btn-close-cookies-notification {
  margin: 0 1.6vw;
  width: 3.2vw;
  height: 3.2vw;
  background: url("../res/img/icon/cross.png") center no-repeat;
  background-size: contain;
  flex-grow: 0;
}

.btn-close-cookies-notification:hover {
  background-image: url("../res/img/icon/cross_hover.png");
  cursor: pointer;
}

.cookies-notification a {
  font-weight: bold;
}

.cookies-notification a:hover {
  text-decoration: underline;
}

/* End Cookies Notification */

.title-image {
  width: 70%;
  display: block;
  margin: 2em auto;
}

/* Images with captions */
figure {
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  margin: 1vw auto;
  padding: 1vw;
}

figure img,
figure video {
  width: 100%;
}

figcaption {
  color: white;
  margin: 0.5vw 0 0 0;
  line-height: 1.4em;
}

/* End images with captions */

main img {
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .page {
    padding: 0 1.4vw;
  }

  main {
    flex: 3;
    padding: 0 3vw 0 0;
  }

  .right {
    padding: 0 0 0 3vw;
  }

  .cookies-notification p {
    font-size: 2vw;
    padding: 2.3vw;
  }

  .btn-close-cookies-notification {
    margin: 0 2.3vw;
    width: 5vw;
    height: 5vw;
  }

  .title-image {
    width: 80%;
  }

  figure {
    width: 80%;
    padding: 1.5vw;
    margin: 1.5vw auto;
  }

  figcaption {
    margin: 0.6vw 0 0 0;
  }

  .cookies-notification::before {
    height: 0.8vw;
  }
}

@media only screen and (max-width: 650px) {
  .page {
    padding: 0 3vw;
  }

  main {
    flex: 1 100%;
    padding: 0 0 5vw 0;
  }

  .right {
    border: none;
    border-top: 1px solid black;
  }

  .cookies-notification p {
    padding: 4vw;
    font-size: 3.5vw;
  }

  .btn-close-cookies-notification {
    margin: 0 4vw;
    width: 12vw;
    height: 12vw;
  }

  .title-image {
    width: 100%;
  }

  figure {
    width: 90%;
    padding: 3vw;
    margin: 3vw auto;
  }

  figcaption {
    margin: 1.6vw 0 0 0;
  }

  .cookies-notification::before {
    height: 0.8vw;
  }
}

/* Teasers */
.teaser {
  background: linear-gradient(#FF821B, #FA6904);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 1vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 100ms, transform 100ms;
  cursor: pointer;
  margin: 1vw 0;
}

.teaser:nth-of-type(2n) {
  flex-flow: row-reverse nowrap;
}

.teaser:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.teaser:active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: translate(0, 4px);
}

.teaser-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0.5vw 0 1.5vw;
}

.teaser:nth-of-type(2n) .teaser-text {
  margin: 0 1.5vw 0 0.5vw;
}

.teaser-text p {
  margin: 0.8vw 0;
}

.teaser h3 {
  font-size: 1.6vw;
  margin: 0.8vw 0;
}

.teaser .material-icons {
  font-size: 1.2vw;
  margin-left: 0.4vw;
}

.teaser .details-link {
  user-select: none;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  align-self: flex-end;
  transition: background-color 100ms;
  padding: 0.3vw 0.6vw;
  margin: -0.3vw -0.6vw;
}

.teaser .details-link:hover {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.15);
}

.teaser .details-link:active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
}

.teaser img {
  width: 40%; /* Webkit */
  flex: 0 0 30%; /* Others */
  order: -1;
  align-self: center;
}

@media only screen and (max-width: 1200px) {
  .teaser {
    padding: 1.5vw;
    margin: 1.8vw 0;
  }

  .teaser-text {
    font-size: 1.4vw;
    line-height: 1.6em;
  }

  .teaser .material-icons {
    font-size: 1.4vw;
    margin-left: 0.6vw;
  }

  .teaser h3 {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 650px) {
  .teaser .teaser-text {
    font-size: 2.8vw;
    line-height: 1.7em;
    margin: 1vw 1vw 0 1vw !important;
  }

  .teaser .material-icons {
    font-size: 2.8vw;
    margin-left: 1.2vw;
  }

  .teaser img {
    width: 80%;
    margin: 1vw;
  }

  .teaser {
    flex-flow: column nowrap !important;
    margin: 3vw 0;
  }

  .teaser h3 {
    font-size: 5vw;
    margin: 1vw 0;
  }
}

/* Parallax images */
.parallax-image {
  height: 110vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  width: 100%;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* z-index: -1;
  position: fixed;
  top: 0;
  height: 100%; */
}

.parallax-wrapper {
  height: 220vh;
}

.parallax-wrapper .parallax-image:nth-child(2) {
  margin-top: 110vh;
}

.parallax-wrapper .parallax-image:first-child {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6) inset;
}

.parallax-wrapper .parallax-image:last-child {
  box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.6) inset;
}

.parallax-image p {
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  font-size: 5vw;
  color: white;
  text-shadow: 0 0 11px black, 0 0 3px black;
  user-select: none;
}

@media only screen and (max-width: 650px) {
  .parallax-image p {
    font-size: 7vw;
  }

  .parallax-image {
    background-attachment: scroll;
    background-position: center;
    height: 50vh;
  }

  .parallax-wrapper {
    height: 100vh;
  }

  .parallax-wrapper .parallax-image:nth-child(2) {
    margin-top: 50vh;
  }
}