.page {
  padding: 1% 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content {
  padding: 0 2%;
  /* outline: 1px solid black; */
}

.main {
  flex: 4;
  box-sizing: border-box;
  max-width: 1200px;
  line-height: 1.8em;
}

.right {
  border-left: 1px solid #AAA;
  flex: 1;
  box-sizing: border-box;
  max-width: 300px;
}

.quick-links {
  padding-left: 2vw;
}

.adsbygoogle {
  display: block;
}

.sidebar-ads {
  border: 3px solid black;
}

.sidebar-ads > * {
  border: 2px solid blue;
}

.sidebar-ads {
  text-transform: uppercase;
  text-align: center;
}

.cookies-notification {
  background-color: rgba(250, 105, 4, 0.9);
  color: white;
  display: flex;
  bottom:0px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.cookies-notification p {
  font-size: 1.3vw;
  padding: 1.6vw;
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

.btn-close-cookies-notification {
  margin: 0 1.6vw;
  width: 3.2vw;
  height: 3.2vw;
  background: url("../res/img/icon/cross.png") center no-repeat;
  background-size: contain;
  flex-grow: 0;
}

.btn-close-cookies-notification:hover {
  background-image: url("../res/img/icon/cross_hover.png");
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .page {
    padding: 2%;
  }

  .content {
    padding: 0% 3%;
  }

  .main {
    flex: 3;
  }

  .cookies-notification p {
    font-size: 2vw;
    padding: 2.3vw;
  }

  .btn-close-cookies-notification {
    margin: 0 2.3vw;
    width: 5vw;
    height: 5vw;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    flex: 1 100%;
  }

  .right {
    border: none;
    border-top: 1px solid black;
  }

  .cookies-notification p {
    padding: 4vw;
    font-size: 3.5vw;
  }

  .btn-close-cookies-notification {
    margin: 0 4vw;
    width: 12vw;
    height: 12vw;
  }
}

.main img {
  width: 100%;
}
