body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #1a1a1a;
  margin: 0px;
  font-size: 1vw;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

.main a:not(.teaser-wrapper) {
  color: #d45900;
  cursor: pointer;
}

.main a:hover:not(.teaser-wrapper) {
  font-weight: bold;
}

.content.main a.block-link {
  color: #000;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2vw 0.4vw;
  position: relative;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  transition: box-shadow 200ms ease;
}

.content.main a.block-link::before {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0px;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  transition: width 300ms ease;
  z-index: -2;
  border-radius: 3px;
}

.content.main a.block-link::after {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0px;
  display: block;
  content: "";
  background-color: rgba(251, 117, 10, 0.8);
  transition: width 200ms ease;
  z-index: -1;
  border-radius: 3px;
}

.content.main a.block-link:hover::before {
  width: 100%;
}

.content.main a.block-link:active {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
}

.content.main a.block-link:active::after {
  width: 100%;
}

h1 {
  font-family: "Lilita One", Bahnschrift, Helvetica, Arial, sans-serif;
  font-size: 4.7vw;
}

h3, h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0.7vw;
}

ul {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 1.6vw;
  }

  h1 {
    font-size: 7vw;
  }

  .content.main a {
    padding: 0.3vw 0.6vw;
  }
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 3vw;
  }

  h1 {
    font-size: 13vw;
  }

  .content.main a {
    padding: 0.5vw 1.2vw;
  }
}

.unselectable, img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}
